.button {
	display:			inline-block;
	border-radius: 		15px;
	background-color: 	#9EBEC4;
	color:				#FAF4C0;
	padding:			15px 25px 15px 25px;
	font-size: 			14pt;
	cursor:				pointer;
}

/* HOVER은 반전을 의미한다. */
.button:HOVER {
	background-color: 	#FAF4C0;
	color: 				#9EBEC4;
	border:				1px solid black;
	
}